@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

nav ul li:hover {
  color: #000;
  transition: color 0.3s ease;
}

button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}
